/*

	Variables
	
*/
	// , user-scalable=no    - just storing
w = 500px
half-w = w / 2
dp-size = 150px
pale = #34474B
tt = 0.33s
grey = #434439
green = #1ebf80 
dgrey = #383838

/*

	Mixins

*/
		
box-shadow()
	-moz-box-shadow arguments
	-webkit-box-shadow arguments
	box-shadow arguments
	
transition()
	-webkit-transition arguments
	-moz-transition arguments
	transition arguments
	
transform()
	-webkit-transform arguments
	transform arguments
	
transform-origin()
	-webkit-transform-origin arguments
	transform-origin arguments
	
border-radius()
	-webkit-border-radius arguments
	-moz-border-radius arguments
	border-radius arguments
	
/*

	body
		
*/

body
	color white
	background-color dgrey


/*
	
	content
	
*/



.render-holder
	background-color dgrey
	border-bottom 1px solid #1D1D1D
	@media screen and (min-width w+1)
		box-shadow 0 2px 1px #1D1D1D
		
.render-holder a 
	color green
	text-decoration none

.render-holder a:hover 
	color green - 50


/*

	Info

*/


#info-block
	background-color pale

		
#footer p
	@media screen and (min-width w+1)
		color #BEBEBE
	
/*

	Navigation
	
*/
#nav-container
	background-color dgrey
	@media screen and (max-width w)
		box-shadow 0 1px 1px #1D1D1D

#nav-container.down
	@media screen and (min-width w+1)
		background-color dgrey

.container ul li a 
	color white
		
#menu-button
	color white
	
@media (max-width w) {
	.container {
		background-color pale
		background linear-gradient(to bottom, #cad2d4 0%,#e4e8e9 50%)
	}

	.container ul li:hover  {
		border-bottom 2px #222 solid
	}
}

#logo 
	background url(../images/logo_text.png) top left / 100% no-repeat

.pro-i:hover:after
	color white
/*

	code
	
*/
		
pre  
	background-color (pale + 10)
		
hr {
    background: #333;
    background-image: -webkit-linear-gradient(left, dgrey 20%, white 50%, dgrey 80%); 
    background-image:    -moz-linear-gradient(left, dgrey 20%, white 50%, dgrey 80%); 
    background-image:     -ms-linear-gradient(left, dgrey 20%, white 50%, dgrey 80%);  
    background-image:      -o-linear-gradient(left, dgrey 20%, white 50%, dgrey 80%); 
}