	// Variables

w = 500px
half-w = w / 2

	// Mixins
		
box-shadow()
	-moz-box-shadow arguments
	-webkit-box-shadow arguments
	box-shadow arguments

	// body

body
	margin 0
	padding 0
	font 0.75em/1.5 'Montserrat', sans-serif;
	color #272822
	padding-bottom 200px


h1
	font 300 2em/1.5 'Open Sans', sans-serif;
	text-align right
	text-indent 50px

p
	text-indent 20px

p::first-letter
	font-size 1.2em


#bg-diagonal
	content ""
	position fixed
	left -2.5%
	bottom 0
	width 105%
	height 50%
	background url(../images/diagonal.svg) bottom left / 100% no-repeat
	z-index -998

	// content

.middle-block
	max-width w
	width 100%
	position absolute
	margin-top 100px 
	margin-bottom 80px
	left 0
	margin-left 0
	@media screen and (min-width w+1)
		margin-left -250px // ffs, minus half w
		left 50%


#content
	background-color white

#shadow
	@media screen and (min-width w+1)
		position fixed
		content ""
		height 20%
		z-index -999
		box-shadow: 0px 0px 100px #B7BDC1

.render img
	display: block;
	width 100%

.render-holder
	border-bottom 1px solid #E9E9E9
	padding 10px
	@media screen and (min-width w+1)
		box-shadow 0 2px 1px #E4E8E9
		padding 20px

	// old

.span-width 
	padding-left:30px;
	padding-right:30px;
	width:100%;
	max-width:600px;

.center-div 
	margin:auto;
	left:0;
	right:0;

#menu 
	text-align: justify;
	float:left;


#menu * 
	display: inline;


#menu li 
	display: inline-block;

#menu span 
	display: inline-block;
	position: relative;
	width: 10%;
	height: 0;

#logo 
	position fixed
	right 5px
	bottom 0
	width 300px
	height 67px
	margin-bottom height - 5px
	background url(../images/logo_text.png) top left / 100% no-repeat