/*

	Variables
	
*/
	// , user-scalable=no    - just storing
w = 500px
half-w = w / 2
dp-size = 150px
pale = #E4E8E9
tt = 0.33s
grey = #434439
green = #1ebf80



/*

	Mixins

*/
		
box-shadow()
	-moz-box-shadow arguments
	-webkit-box-shadow arguments
	box-shadow arguments
	
transition()
	-webkit-transition arguments
	-moz-transition arguments
	transition arguments
	
transform()
	-webkit-transform arguments
	transform arguments
	
transform-origin()
	-webkit-transform-origin arguments
	transform-origin arguments
	
border-radius()
	-webkit-border-radius arguments
	-moz-border-radius arguments
	border-radius arguments
	
/*

	body
		
*/
html 
	//transition background-color tt ease-in-out all, color tt ease-in-out all
body
	margin 0
	padding 0
	font 12px/1.5 'Montserrat', sans-serif;
	padding-bottom 200px



h1
	font 300 22px/1.5 'Open Sans', sans-serif;
	text-align center
	letter-spacing 0.33em
	margin-bottom 0
	margin-top 20px
h2
	font 300 12px/1.5 'Open Sans', sans-serif;
	text-align center
	letter-spacing 0.05em
	margin-bottom 20px
	margin-top 0
h3
	font 300 16px/1.5 'Open Sans', sans-serif;
	text-align center
	letter-spacing 0.1em
	margin-bottom -5px
	margin-top 20px
p
	text-indent 7px

p::first-letter
	font-size 1.2em
.centered
	text-align center


#bg-diagonal
	@media screen and (min-width w+1)
		content ""
		position fixed
		left -2.5%
		bottom 0
		width 105%
		height 50%
		background url(../images/diagonal.svg) bottom left / 100% no-repeat
		z-index -998

/*
	
	content
	
*/

.middle-block
	max-width w
	width 100%
	position absolute
	left 0
	margin-left 0
	@media screen and (min-width w+1)
		margin-left -250px // ffs, minus half w
		left 50%
.vertical-buffer
	margin-top 30px 
	margin-bottom 80px
	@media screen and (min-width w+1)
		margin-top 15% 

	
.cen-just
	right 0
	left 0
	margin auto

.render img
	display: block;
	width 100%
	left 0
	right 0
	:after
		content ""
		position absolute
		z-index 999
		width 50px
		height 50px
	/* le sigh can't make it work
	:after
		z-index: 999; 
		position: absolute; 
		content: "";
		bottom: 15px;
		left: 10px;
		width: 50%; 
		top: 80%;
		max-width:300px;
		box-shadow: 0px 100px 100px #B7BDC1
	*/
#render-options 
	display block
	position absolute
	width 300px
	height 100px
	top 500px
	left 100px
	z-index 999


.render-holder
	padding 10px
	@media screen and (min-width w+1)
		padding 40 px
		
.render-holder a 
	text-decoration none
.show-more
	max-height 0
	transition max-height 1s ease-in-out
	overflow hidden
	
.break-down
	width 100%
	
.break-down.down
	max-height 200px

.down-arrow
	text-align center
	font-size 100px
	cursor pointer
.down-arrow:after
	content " breakdown"
.lazy
	transition background-image tt ease-in-out
	background-color grey

/*

	Procedural

*/




/*

	Info

*/
#dp 
	position relative
	width dp-size
	height dp-size
	border-radius (dp-size / 2)
	background url(../images/dp.png) top left / 100% no-repeat
	margin-top (dp-size / 4) - 20px
	z-index 50

#info-block
	position absolute
	width 100%
	height dp-size * 0.9
	//background linear-gradient(to bottom, #e4e8e9 50%,#cad2d4 100%)
	margin -10px
	@media screen and (min-width w+1)
		margin -40px
	line-height 80%
#info p
	text-indent 0
	margin-top 3px
	margin-bottom 9px
		
#footer p
	text-align center
	position fixed
	margin auto
	left 0 
	right 0
	bottom 0
	z-index -100
	@media screen and (min-width w+1)
		margin-bottom 10px
	

/*

	Navigation
	
*/
#nav-container
	position fixed
	content ""
	display block
	height 67px
	z-index 90
	margin-top 0
	transition height tt ease-in-out, margin-top tt ease-in-out
	@media screen and (max-width w)
		height 45px
		visibility hidden

#nav-container.down
	height 45px


#nav-container.hid
	margin-top -45px
/*
.container, .container ul, .container ul li, .container ul li a
	height 100%
	vertical-align bottom
	text-align bottom
	*/
.container
	z-index 80
	@media screen and (min-width w+1)
		bottom 0
		bottom 0px
		position absolute
		transition margin-left tt ease-in-out, bottom tt ease-in-out
		margin-left -40px
	

.container ul 
	list-style-type none

.container ul li 
	display: inline-block;
	@media screen and (min-width w+1)
		padding-right 2px
		border-right 1px pale solid
		&:laschildt-
			border-right none

.container ul li a 
	padding-right 2px
	display block
	text-decoration none


		
#menu-button
	display block
	position absolute
	height 45px
	top 0
	right 15px
	z-index 300
	font-size 30px
	@media screen and (min-width w+1)
		visibility hidden
	
@media (max-width w) {
.container {
	z-index -200
	position absolute
	//top -100
	width: 100%;
	//margin: 0 auto;
	//padding:20px 0;
	//border 2px black solid
	overflow hidden
	max-height 0
	transition max-height tt ease-in-out
}
.container ul {
	//padding:10px;
	padding:10px;
}
.container ul li {
	display:block;
	//padding:10px 0;
	text-align center
	padding:10px 0;
	border-bottom 2px (pale + 10) solid
}
.container ul li:hover  {
	border-bottom 2px #222 solid
}

}
/*

	Procedural nav

*/
#pro-nav
	position fixed
	padding 5px
	width 15px
	height auto
	left 10px
	top 40% 
	text-align center
	z-index 999
	@media screen and (max-width w)
		visibility hidden
.pro-i
	display block
	margin-bottom 5px
	cursor pointer
	
.pro-i:hover:after
	right -110px
	content: attr(title);
	display: block;
	position: absolute;
	white-space: nowrap;
	width 100px
	text-align left
	z-index: 98;
	font-family 'Montserrat', sans-serif;
	margin-top -12px

		
.fa-menu-o:before 
	content "\f10c"

.fa-menu-o:hover:before 
	content "\f111"
	
		
#logo 
	opacity 0.8
	position relative
	right 0
	left 0
	margin auto
	top 5px
	width 300px
	height 67px
	z-index 100
	transition all tt ease-in-out
	@media screen and (max-width w)
		width 200px
		height 45px
		left 5px
		margin-left 0
	
#logo.down
	@media screen and (min-width w+1)
		width 200px
		height 45px
/*

	Mobile nav
	
*/
#small-nav
	padding 0
	margin 0
	z-index 900
	background-color rgba(255,255,255,0.5)
	position fixed
	max-width 5px
	width 100%
	height 100%
	display block
	content ""
	text-align:center;
	transition max-width 0.8s ease-in-out
	@media screen and (min-width w+1)
		visibility hidden

#small-menu
	position relative
	left -20px
	margin-left -40px
	margin 0
	margin-top 30%
	overflow hidden
#small-menu li 
	background-color rgba(255,255,255,0.9)
	display:block;
	list-style-type:none;
	padding 10px 0
	border-bottom solid 1px (grey + 150)
	&:first-child
		border-top solid 1px (grey + 150)
	a
		text-decoration none
		color grey
#small-menu-button
	cursor pointer
	position absolute
	bottom 20%
	background-color pale
	font-size 30px
	width auto
	height auto
	right -(@font-size + 5px)
	transition all 0.6s ease-out
	padding 0 10px
#small-menu-button.out
	right 0
#small-menu-button.out i:before
	content: "\f100"

	
/*

	code
	
*/
		
pre  
	/*
	white-space: pre-wrap; 
	white-space: -moz-pre-wrap; 
	white-space: -o-pre-wrap; 
		*/
	font-size 10px
	//background linear-gradient(to bottom, (pale + 10) 60%,(pale - 10) 100%)
	overflow: auto;
	//word-wrap: break-word;
		
hr {
    border: 0;
    height: 1px;
}