/*

	Variables
	
*/
/*

	Mixins

*/
/*

	body
		
*/
body {
  margin: 0;
  padding: 0;
  font: 12px/1.5 'Montserrat', sans-serif;
  padding-bottom: 200px;
}
h1 {
  font: 300 22px/1.5 'Open Sans', sans-serif;
  text-align: center;
  letter-spacing: 0.33em;
  margin-bottom: 0;
  margin-top: 20px;
}
h2 {
  font: 300 12px/1.5 'Open Sans', sans-serif;
  text-align: center;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
  margin-top: 5px;
}
h3 {
  font: 300 16px/1.5 'Open Sans', sans-serif;
  text-align: center;
  letter-spacing: 0.1em;
  margin-bottom: -5px;
  margin-top: 20px;
}
p {
  text-indent: 7px;
}
p::first-letter {
  font-size: 1.2em;
}
.centered {
  text-align: center;
}
a {
  color: #1ebf80;
}
@media screen and (min-width: 551px) {
  #bg-diagonal {
    content: "";
    position: fixed;
    left: -2.5%;
    bottom: 0;
    width: 105%;
    height: 50%;
    background: url("../images/diagonal.svg") bottom left/100% no-repeat;
    z-index: -998;
  }
}
/*
	
	content
	
*/
.middle-block {
  max-width: 550px;
  width: 100%;
  position: absolute;
  left: 0;
  margin-left: 0;
}
@media screen and (min-width: 551px) {
  .middle-block {
    margin-left: -275px;
    left: 50%;
  }
}
.vertical-buffer {
  margin-top: 30px;
  margin-bottom: 80px;
}
@media screen and (min-width: 551px) {
  .vertical-buffer {
    margin-top: 15%;
  }
}
.cen-just {
  right: 0;
  left: 0;
  margin: auto;
}
.render img {
  display: block;
  width: 100%;
  left: 0;
  right: 0;
/* le sigh can't make it work
	:after
		z-index: 999; 
		position: absolute; 
		content: "";
		bottom: 15px;
		left: 10px;
		width: 50%; 
		top: 80%;
		max-width:300px;
		box-shadow: 0px 100px 100px #B7BDC1
	*/
}
#render-options {
  display: block;
  position: absolute;
  width: 300px;
  height: 100px;
  top: 500px;
  left: 100px;
  z-index: 999;
}
.render-holder {
  padding: 10px;
}
@media screen and (min-width: 551px) {
  .render-holder {
    padding: 40px;
  }
}
.render-holder a {
  text-decoration: none;
}
.render-holder i {
  right: 0;
  position: relative;
  margin-right: 0;
}
.show-more {
  max-height: 0;
  -webkit-transition: max-height 1s ease-in-out;
  -moz-transition: max-height 1s ease-in-out;
  transition: max-height 1s ease-in-out;
  overflow: hidden;
}
.break-down {
  width: 100%;
  -webkit-transition: width 0.33s ease-out, height 0.33s ease-out;
  -moz-transition: width 0.33s ease-out, height 0.33s ease-out;
  transition: width 0.33s ease-out, height 0.33s ease-out;
}
.break-down.down {
  max-height: 200px;
}
.down-arrow {
  text-align: center;
  font-size: 100px;
  cursor: pointer;
}
.down-arrow:after {
  content: " breakdown";
}
.lazy {
  -webkit-transition: background-image 0.33s ease-in-out;
  -moz-transition: background-image 0.33s ease-in-out;
  transition: background-image 0.33s ease-in-out;
  background-color: #434439;
}
/*

	Procedural

*/
/*

	Info

*/
#dp {
  position: relative;
  width: 150px;
  height: 150px;
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
  border-radius: 75px;
  background: url("../images/dp.png") top left/100% no-repeat;
  margin-top: 17.5px;
  z-index: 50;
}
#info-block {
  position: absolute;
  width: 100%;
  height: 135px;
  margin: -10px;
  line-height: 80%;
}
@media screen and (min-width: 551px) {
  #info-block {
    margin: -40px;
  }
}
#info p {
  text-indent: 0;
  margin-top: 3px;
  margin-bottom: 9px;
}
#footer p {
  text-align: center;
  position: fixed;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -100;
}
@media screen and (min-width: 551px) {
  #footer p {
    margin-bottom: 10px;
  }
}
/*

	Navigation
	
*/
#nav-container {
  position: fixed;
  content: "";
  display: block;
  height: 67px;
  z-index: 90;
  margin-top: 0;
  -webkit-transition: height 0.33s ease-in-out, margin-top 0.33s ease-in-out;
  -moz-transition: height 0.33s ease-in-out, margin-top 0.33s ease-in-out;
  transition: height 0.33s ease-in-out, margin-top 0.33s ease-in-out;
}
@media screen and (max-width: 550px) {
  #nav-container {
    height: 45px;
    visibility: hidden;
  }
}
#nav-container.down {
  height: 45px;
}
#nav-container.hid {
  margin-top: -45px;
}
/*
.container, .container ul, .container ul li, .container ul li a
	height 100%
	vertical-align bottom
	text-align bottom
	*/
.container {
  z-index: 80;
}
@media screen and (min-width: 551px) {
  .container {
    bottom: 0;
    bottom: 0px;
    position: absolute;
    -webkit-transition: margin-left 0.33s ease-in-out, bottom 0.33s ease-in-out;
    -moz-transition: margin-left 0.33s ease-in-out, bottom 0.33s ease-in-out;
    transition: margin-left 0.33s ease-in-out, bottom 0.33s ease-in-out;
    margin-left: -40px;
  }
}
.container ul {
  list-style-type: none;
}
.container ul li {
  display: inline-block;
}
@media screen and (min-width: 551px) {
  .container ul li {
    padding-right: 2px;
    border-right: 1px #e4e8e9 solid;
  }
  .container ul li:last-child {
    border-right: none;
  }
}
.container ul li a {
  padding-right: 2px;
  display: block;
  text-decoration: none;
}
#menu-button {
  display: block;
  position: absolute;
  height: 45px;
  top: 0;
  right: 15px;
  z-index: 300;
  font-size: 30px;
}
@media screen and (min-width: 551px) {
  #menu-button {
    visibility: hidden;
  }
}
@media (max-width: 550px) {
  .container {
    z-index: -200;
    position: absolute;
    width: 100%;
    overflow: hidden;
    max-height: 0;
    -webkit-transition: max-height 0.33s ease-in-out;
    -moz-transition: max-height 0.33s ease-in-out;
    transition: max-height 0.33s ease-in-out;
  }
  .container ul {
    padding: 10px;
  }
  .container ul li {
    display: block;
    text-align: center;
    padding: 10px 0;
    border-bottom: 2px #eef2f3 solid;
  }
  .container ul li:hover {
    border-bottom: 2px #222 solid;
  }
}
/*

	Procedural nav

*/
#pro-nav {
  position: fixed;
  padding: 5px;
  width: 15px;
  height: auto;
  left: 10px;
  top: 40%;
  text-align: center;
  z-index: 999;
  font-size: 14px;
}
@media screen and (max-width: 700px) {
  #pro-nav {
    visibility: hidden;
  }
}
.pro-i {
  display: block;
  margin-bottom: 5px;
  cursor: pointer;
/*
	transition font-size 0.1s ease-out
	&:hover
		font-size 20px
			*/
}
.pro-i:hover:after {
  right: -110px;
  content: attr(title);
  display: block;
  position: absolute;
  white-space: nowrap;
  width: 100px;
  text-align: left;
  z-index: 98;
  font-family: 'Montserrat', sans-serif;
  margin-top: -12px;
}
.fa-menu-o:before {
  content: "\f10c";
}
.fa-menu-o:hover:before {
  content: "\f111";
}
#media-icons {
  color: #fff;
  background-color: #e4e8e9;
  padding: 2px 10px;
  padding-left: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  position: relative;
  width: 108px;
  font-size: 16px;
}
@media screen and (max-width: 550px) {
  #media-icons {
    font-size: 24px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    width: 180px;
  }
}
#media-icons.small {
  left: 20px;
}
.media-i {
  padding-right: 5px;
  padding-left: 5px;
}
@media screen and (max-width: 550px) {
  .media-i {
    padding-right: 10px;
    padding-left: 10px;
  }
}
@media screen and (min-width: 551px) {
  .media-i:after {
    font-size: 12px;
    top: 25px;
    margin-left: -30px;
    content: attr(title);
    display: block;
    position: absolute;
    white-space: nowrap;
    width: auto;
    text-align: left;
    z-index: 98;
    font-family: 'Montserrat', sans-serif;
    background-color: #434439;
    padding: 6px 15px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: top 0.3s ease-out, opacity 0.3s ease-out;
    -moz-transition: top 0.3s ease-out, opacity 0.3s ease-out;
    transition: top 0.3s ease-out, opacity 0.3s ease-out;
  }
}
@media screen and (min-width: 551px) {
  .media-i:hover:after {
    visibility: visible;
    opacity: 1;
    top: 30px;
  }
}
#logo {
  opacity: 0.8;
  position: relative;
  right: 0;
  left: 0;
  margin: auto;
  top: 5px;
  width: 300px;
  height: 67px;
  z-index: 100;
  -webkit-transition: all 0.33s ease-in-out;
  -moz-transition: all 0.33s ease-in-out;
  transition: all 0.33s ease-in-out;
}
@media screen and (max-width: 550px) {
  #logo {
    width: 200px;
    height: 45px;
    left: 5px;
    margin-left: 0;
  }
}
@media screen and (min-width: 551px) {
  #logo.down {
    width: 200px;
    height: 45px;
  }
}
/*

	Mobile nav
	
*/
#small-nav {
  padding: 0;
  margin: 0;
  z-index: 900;
  background-color: rgba(255,255,255,0.5);
  position: fixed;
  width: 0;
  height: 100%;
  display: block;
  content: "";
  text-align: center;
}
@media screen and (min-width: 551px) {
  #small-nav {
    visibility: hidden;
  }
}
#small-menu {
  position: relative;
  left: -20px;
  margin-left: -40px;
  margin: 0;
  margin-top: 30%;
  overflow: hidden;
}
#small-menu li {
  display: block;
  list-style-type: none;
}
#small-menu li a {
  display: block;
  text-decoration: none;
  color: #434439;
  background-color: rgba(255,255,255,0.9);
  width: 100%;
  height: 100%;
  padding: 10px 0;
  margin-bottom: 5px;
  -moz-box-shadow: 0px 2px 6px #719daa;
  -webkit-box-shadow: 0px 2px 6px #719daa;
  box-shadow: 0px 2px 6px #719daa;
  margin-left: -2px;
}
#small-menu-button {
  cursor: pointer;
  position: absolute;
  top: 2%;
  font-size: 30px;
  width: 50px;
  height: 50px;
  right: -55px;
  -webkit-transition: right 0.6s ease-out;
  -moz-transition: right 0.6s ease-out;
  transition: right 0.6s ease-out;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  z-index: 910;
}
#small-menu-button.down {
  top: 80%;
}
#small-menu-button i {
  position: relative;
  top: calc(50% - (30px * 0.75));
}
.img_container > i,
.img_container2 > i {
  position: relative;
/* 50% - 3/4 of icon height */
  margin-top: 5px;
}
#small-menu-button.out {
  right: 0;
}
#small-menu-button.out i:before {
  content: "\f100";
}
/*

	code
	
*/
pre {
/*
	white-space: pre-wrap; 
	white-space: -moz-pre-wrap; 
	white-space: -o-pre-wrap; 
		*/
  font-size: 10px;
  overflow: auto;
}
hr {
  border: 0;
  height: 1px;
}
