/*

	Variables
	
*/
/*

	Mixins

*/
/*

	body
		
*/
body {
  margin: 0;
  padding: 0;
  font: 12px/1.5 'Montserrat', sans-serif;
  color: #434439;
  padding-bottom: 200px;
}
h1 {
  font: 300 22px/1.5 'Open Sans', sans-serif;
  text-align: right;
  text-indent: 50px;
}
p {
  text-indent: 20px;
}
p::first-letter {
  font-size: 1.2em;
}
@media screen and (min-width: 501px) {
  #bg-diagonal {
    content: "";
    position: fixed;
    left: -2.5%;
    bottom: 0;
    width: 105%;
    height: 50%;
    background: url("../images/diagonal.svg") bottom left/100% no-repeat;
    z-index: -998;
  }
}
/*
	
	content
	
*/
.middle-block {
  max-width: 500px;
  width: 100%;
  position: absolute;
  left: 0;
  margin-left: 0;
}
@media screen and (min-width: 501px) {
  .middle-block {
    margin-left: -250px;
    left: 50%;
  }
}
.vertical-buffer {
  margin-top: 30px;
  margin-bottom: 80px;
}
@media screen and (min-width: 501px) {
  .vertical-buffer {
    margin-top: 100px;
  }
}
.cen-just {
  right: 0;
  left: 0;
  margin: auto;
}
@media screen and (min-width: 501px) {
  #shadow {
    position: fixed;
    content: "";
    height: 20%;
    z-index: -999;
    -moz-box-shadow: 0px 0px 100px #b7bdc1;
    -webkit-box-shadow: 0px 0px 100px #b7bdc1;
    box-shadow: 0px 0px 100px #b7bdc1;
  }
}
.render img {
  display: block;
  width: 100%;
  left: 0;
  right: 0;
/* le sigh can't make it work
	:after
		z-index: 999; 
		position: absolute; 
		content: "";
		bottom: 15px;
		left: 10px;
		width: 50%; 
		top: 80%;
		max-width:300px;
		box-shadow: 0px 100px 100px #B7BDC1
	*/
}
.render img :after {
  content: "";
  position: absolute;
  z-index: 999;
  background-color: #00f;
  width: 50px;
  height: 50px;
}
#render-options {
  display: block;
  position: absolute;
  width: 300px;
  height: 100px;
  top: 500px;
  left: 100px;
  z-index: 999;
}
.render-holder {
  background-color: #fff;
  border-bottom: 1px solid #e9e9e9;
  padding: 10px;
}
@media screen and (min-width: 501px) {
  .render-holder {
    -moz-box-shadow: 0 2px 1px #e4e8e9;
    -webkit-box-shadow: 0 2px 1px #e4e8e9;
    box-shadow: 0 2px 1px #e4e8e9;
    padding: 20px;
  }
}
/*

	Procedural

*/
/*

	Info

*/
#dp {
  position: relative;
  width: 150px;
  height: 150px;
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
  border-radius: 75px;
  background: url("../images/dp.png") top left/100% no-repeat;
  margin-top: 37.5px;
  z-index: 50;
}
#info-block {
  position: absolute;
  width: 100%;
  height: 135px;
  background-color: #e4e8e9;
  background: linear-gradient(to bottom, #e4e8e9 50%, #cad2d4 100%);
  margin: -10px;
}
@media screen and (min-width: 501px) {
  #info-block {
    margin: -20px;
  }
}
#footer p {
  text-align: center;
  position: fixed;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -100;
}
@media screen and (min-width: 501px) {
  #footer p {
    color: #bebebe;
    margin-bottom: 10px;
  }
}
/*

	Navigation
	
*/
#nav-container {
  position: fixed;
  content: "";
  display: block;
  height: 67px;
  z-index: 90;
  margin-top: 0;
  -webkit-transition: height 0.33s ease-in-out, margin-top 0.33s ease-in-out;
  -moz-transition: height 0.33s ease-in-out, margin-top 0.33s ease-in-out;
  transition: height 0.33s ease-in-out, margin-top 0.33s ease-in-out;
}
@media screen and (max-width: 500px) {
  #nav-container {
    background-color: #fff;
    -moz-box-shadow: 0 1px 1px #e4e8e9;
    -webkit-box-shadow: 0 1px 1px #e4e8e9;
    box-shadow: 0 1px 1px #e4e8e9;
    height: 45px;
  }
}
#nav-container.down {
  height: 45px;
}
@media screen and (min-width: 501px) {
  #nav-container.down {
    background-color: #fff;
    -moz-box-shadow: 0 1px 1px #e4e8e9;
    -webkit-box-shadow: 0 1px 1px #e4e8e9;
    box-shadow: 0 1px 1px #e4e8e9;
  }
}
#nav-container.hid {
  margin-top: -45px;
}
/*
.container, .container ul, .container ul li, .container ul li a
	height 100%
	vertical-align bottom
	text-align bottom
	*/
.container {
  z-index: 999;
}
@media screen and (min-width: 501px) {
  .container {
    bottom: 0;
    margin-left: -20px;
    position: absolute;
  }
}
.container ul {
  list-style-type: none;
}
.container ul li {
  display: inline-block;
}
@media screen and (min-width: 501px) {
  .container ul li {
    padding-right: 2px;
    border-right: 1px #e4e8e9 solid;
  }
  .container ul li:last-child {
    border-right: none;
  }
}
.container ul li a {
  display: block;
  color: #434439;
  text-decoration: none;
}
@media screen and (min-width: 501px) {
  .container ul li a {
    border-bottom: 2px #fff solid;
  }
}
@media screen and (min-width: 501px) {
  .container ul li a:hover {
    border-bottom: 2px #222 solid;
  }
}
#menu-button {
  background-color: #00f;
  background: url("../images/menu-icon.png") top left/100% no-repeat;
  display: block;
  content: "";
  position: absolute;
  height: 45px;
  width: 45px;
  top: 0;
  right: 15px;
  z-index: 300;
}
@media screen and (min-width: 501px) {
  #menu-button {
    visibility: hidden;
  }
}
@media (max-width: 500px) {
  .container {
    z-index: -200;
    position: absolute;
    background-color: #e4e8e9;
    background: linear-gradient(to bottom, #cad2d4 0%, #e4e8e9 50%);
    width: 100%;
    overflow: hidden;
    max-height: 0;
    -webkit-transition: max-height 0.33s ease-in-out;
    -moz-transition: max-height 0.33s ease-in-out;
    transition: max-height 0.33s ease-in-out;
  }
  .container ul {
    padding: 10px;
  }
  .container ul li {
    display: block;
    text-align: center;
    padding: 10px 0;
    border-bottom: 2px #eef2f3 solid;
  }
  .container ul li:hover {
    border-bottom: 2px #222 solid;
  }
}
#logo {
  opacity: 0.8;
  position: relative;
  right: 0;
  left: 0;
  margin: auto;
  top: 5px;
  width: 300px;
  height: 67px;
  background: url("../images/logo_text_dark.png") top left/100% no-repeat;
  z-index: 100;
  -webkit-transition: all 0.33s ease-in-out;
  -moz-transition: all 0.33s ease-in-out;
  transition: all 0.33s ease-in-out;
  z-index: 100;
}
@media screen and (max-width: 500px) {
  #logo {
    width: 200px;
    height: 45px;
    left: 5px;
    margin-left: 0;
  }
}
@media screen and (min-width: 501px) {
  #logo.down {
    width: 200px;
    height: 45px;
  }
}
/*

	code
	
*/
pre {
/*
	white-space: pre-wrap; 
	white-space: -moz-pre-wrap; 
	white-space: -o-pre-wrap; 
		*/
  background-color: #eef2f3;
  background: linear-gradient(to bottom, #eef2f3 60%, #dadedf 100%);
  overflow: auto;
}
